@import url("../components/base.css");
@import url("../components/sub_header.css");

/* SECTION COMPETENCES */

.competences{
    border-radius: 0.32em;
    background-color: white;
    width: 50vw;
    margin: 5vh auto 0 auto;
    padding: 1vh 0 1vh 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.competences:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

h3{
    text-indent: 1.5vw;
    font-size: 1.25em;
    font-weight: bold;
}