/* SUB HEADER */

#sub_header{
    max-width: 80%;
    margin: 0 auto 6vh auto;
}

#sub_header::after{
    content: "";
    clear: both;
    display: table;
}

#avatar{
    border: 0.19em #1DA1F2 solid;
    border-radius: 10em;
    float: left;
    margin: 0 3.5vw 0 2.5vw;
}

h1{
    color: #113939;
    font-size: 2.625em;
    margin: 0 0 -1.3vh 0;
    font-weight: lighter;
}

h2{
    font-size: 1.5em;
    font-weight: 500;
    color: #1DA1F2;
    text-transform: uppercase;
    margin: 1.6vh 0 1.4vh 0;
}

#texte_sub_header{
    font-size: 1.06em;
    line-height: 1.56em;
    font-weight: 500;
    margin: 0;
    max-width: 100%;
    color: #000
}